.present-wrapper{
    width: 100vw;
}

.bgc-img {
    height: 100vh;
    background: url(../../../assets/bgc.png) no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.present-title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    color: #fff;
}

.heading-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 70px 0;
    flex-direction: column;
}

.present-text {
    text-align: center;
    padding-top: 70px;
    width: 70%;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
}

@media screen and (max-width: 500px) {
    .present-title h1 {
        font-size: 2em;
    }

    .present-text {
        font-size: 1.2em;
    }

    .heading-title img {
        width: 15%;
    }
    .bgc-img {
        background: url(../../../assets/bgc-mobile.png) no-repeat;
        background-size: 100%;
        max-height: 100%;
    }
}
