.portfolio-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 7%;
    margin-bottom: 60px;
}

.portfolio-title h2{
    color: #fff;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
}

.portfolio-photos {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-photo {
    width: 290px;
    margin-top: 25px;
}

.portfolio-photo img {
    width: 290px;
}

@media screen and (max-width: 500px) {
    .portfolio-title h2 {
        font-size: 2em;
    }
}